html, body
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #000;
	color: #808080;
	font-family: Helvetica, Arial, sans-serif;
}

.frame
{
	position: absolute;
}

.frame > *
{
	position: relative;
	width: 100%;
	height: 100%;
}

.outputManyFrame
{
	width: 100%;
	height: 80%;
	bottom: 70px;
}

.output
{
	text-align: center;
	vertical-align: middle;
}

.output
{
	font-family: Lato, Helvetica, sans-serif;
	font-size: 40pt;
	word-wrap: break-word;
	word-break: break-all;
}

#userCount
{
	position: absolute;
	bottom: 8pt;
	right: 4pt;
}

.inputFrame
{
	position: absolute;
	left: 16px;
	right: 20px;
	bottom: 10px;
}

.input
{
	width: 100%;

	color: #809080;
	background-color: #111;
	border: none;
	font-size: 20px;
}
